/*@import url("ChulaNarak_Bold_Italic/stylesheet.css");*/

@font-face {
    font-family: "ChulaNarak Bold Italic";
    src: url("ChulaNarak Bold Italic.ttf");
}

body {
    margin: 0px;
    width: 100%;
}

.box {
    max-height: 1108px;
    background-color: rgb(72, 184, 187);
    max-width: 100%;
    padding-top: 25px;
    text-align: center;
    padding-bottom: 25px;
}

.box1 {
    max-height: 800px;
    max-width: 100%;
    padding-top: 50px;
    background-color: rgb(245, 119, 175);
}

.box2 {
    max-height: 1800px;
    background-color: rgb(114, 86, 167);
    max-width: 100%;
    padding-top: 80px;
}

.box3 {
    background-color: rgb(245, 119, 175);
    max-height: 300px;
    max-width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}


#logo {
    max-width: 30%;
    display: inline-block;
    text-align: left;
}

#dao2 {
    width: 6%;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

#font1 {
    float: left;
    margin-left: 70px;
    max-width: 20%;
}

.side {
    display: inline-block;
    margin-left: 20px
}

.font2-5 {
    display: inline-block;
    width: 20%;
    font-style: italic;
}

#logo {
    max-width: 30%;
    display: inline-block;
    text-align: left;
}

#fontside {
    font-family: "ChulaNarak Bold Italic";
    font-size: 28px;
    color: rgb(243, 233, 195);
    float: left;
    width: 70%;
    display: inline-block;
    text-align: right;
}

.keep {
    max-width: 100%;
    text-align: center;
}

#font7 {
    max-width: 100%;
    text-align: center;
}

#fontfollow {
    font-size: 12px;
    font-family: "Fahkwang";
    color: rgb(247, 241, 92);
    width: 90%;
    display: inline-block;
    text-align: center;
    float: left;
    padding-bottom: 5px;
}

.font8 {
    margin-left: 105px;
    display: inline-block;
    font-style: italic;
}

#font2 {
    font-family: "Fahkwang";
    text-align: center;
    padding-top: 90px;
    color: rgb(113, 86, 162);
    font-size: 25px;
    max-width: 100%;
}

.font3 {
    font-family: "Fahkwang ExtraLight";
    color: rgb(113, 86, 162);
    font-size: 18px;
    font-style: italic;
    max-width: 100%;
    padding-left: 10px;
    text-align: center;
}

#font4 {
    text-align: center;
    padding-bottom: 20px;
}

#font5 {
    text-align: center;
    max-width: 100%;
}

#font6 {
    text-align: center;
    width: 100%;
    padding-bottom: 30px;
}

#font9 {
    font-family: "ChulaNarak Bold Italic";
    font-size: 18px;
    color: rgb(247, 241, 92);
    padding-left: 5px;
    max-width: 50%;
}

#exhibi {
    width: 100%;
}

#me {
    text-align: center;
    max-width: 100%;
}

#introduce {
    text-align: center;
    width: 90%;
    margin-left: auto;
}

#projects {
    text-align: center;
    padding-left: 10px;
}

#poster1 {
    padding-top: 45px;
    text-align: center;
}

#poster2 {
    padding-top: 45px;
    text-align: center;
}

#followme {
    text-align: center;
}
